          
          <div class="news">
            <h2>news</h2>
            {% if site.news  -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%} 
              {% for item in news limit: site.news_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
          
          <div>
            <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=0hQuHNRnJWINDf05ONImwosOZDiqkfizGJtbqZW-qZE&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
          </div>
